In [1]:
import requests as req
import bs4
import sqlite3

In [2]:
sess= req.Session()

In [3]:
yshs_hyhg = 20171

In [4]:
yshs_hakno = "ENG3008"

In [5]:
yshs_bb = "01"

In [6]:
yshs_sbb = "00"

In [7]:
response= sess.post(url="http://ysweb.yonsei.ac.kr:8888/curri120601/curri_pop_mileage_result01.jsp",
                    data={"yshs_domain":"H1", "yshs_hyhg":yshs_hyhg, "yshs_hakno":yshs_hakno, "yshs_bb":yshs_bb, "yshs_sbb":yshs_sbb})

In [8]:
with open('output.html','w') as w:
    w.write(response.text)

In [9]:
text = bs4.BeautifulSoup(response.text, 'html.parser')

In [10]:
tables = text.find_all('table')

In [11]:
hakgi = yshs_hyhg

basis = tables[1]

basis_1 = basis.find_all('tr')[2].find('tr')

class_data=basis_1.find_all('td')

c_s_l = class_data[0].text

c_s_l

tit = class_data[1].text

qu = class_data[6].text

part = class_data[7].text

mi = class_data[15].text

ma =  class_data[16].text

av =  class_data[17].text

In [12]:
basis2 = tables[2]

basis2_1 = basis.find_all('tr')[2].find('tr')

In [13]:
arr = basis2.find_all('tr')

In [14]:
arr2 = arr[1].find_all('tr')

In [15]:
def yn(yn):
    if 'Y' in yn or 'O' in yn:
        return 1
    else:
        return 0

In [16]:
lowid= -1

In [17]:
arr2[0]

<tr>
<td align="center" class="BoxText_1_C">1</td>
<td align="center" class="BoxText_1_C">36</td>
<td align="center" class="BoxText_1_C">Y (Y)</td>
<td align="center" class="BoxText_1_C">3</td>
<td align="center" class="BoxText_1_C">N</td>
<td align="center" class="BoxText_1_C">Y</td>
<td align="center" class="BoxText_1_C">1.0000</td>
<td align="center" class="BoxText_1_C">1.0000</td>
<td align="center" class="BoxText_1_C">4</td>
<td align="center" class="BoxText_1_C">O</td>
<td align="center" class="BoxText_1_C">Â </td>
</tr>

arr2[0]

In [18]:
try:
    conn = sqlite3.connect('db.sqlite')
    cur = conn.cursor()
    
    sql = "INSERT INTO Class(year_hakgi, code_sec_lab, title, quota, participants, minimum, maximum, average) VALUES (%d, '%s', '%s', %d, %d, %d, %d, %f)" % (int(hakgi), str(c_s_l), str(tit), int(qu), int(part), int(mi), int(ma), float(av)) 
    
    cur.execute(sql)
    
    lowid = cur.lastrowid
    
    conn.commit()
except:
    print("err")
    exit()

In [19]:
# conn.close()

In [20]:
for row in arr2:
    ra = row.find_all('td')[0].text
    mile = row.find_all('td')[1].text
    ism = row.find_all('td')[2].text
    enrol = row.find_all('td')[3].text
    gra = row.find_all('td')[4].text
    fir = row.find_all('td')[5].text
    cre = row.find_all('td')[6].text
    prev = row.find_all('td')[7].text
    gr = row.find_all('td')[8].text
    res = row.find_all('td')[9].text
    sql = "INSERT INTO MileageResult(class_id, rank, mileage, major, enrolled, graduation, first, credit, previous, grade, result) VALUES (%d, %d, %d, %d, %d, %d, %d, %f, %f, %d, %d)"% (int(lowid), int(ra), int(mile), yn(ism), int(enrol), yn(gra), yn(fir), float(cre), float(prev), int(gr), yn(res))
    
    cur.execute(sql)
conn.commit()

In [21]:
conn.close()